################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows/inc/supercan_srv.tlb
/Windows/supercan_srv/supercansrv_i.h
/Windows/supercan_srv/supercansrv_i.c
/Windows/NSIS/supercan_inst.exe
